bin/
target/
*.iml
*.pyc
.idea/
.settings/
log/
.classpath
.project
.pydevproject
*.out
*.lnk
sever/__pycache__/
**/dist/
*.spec
jingle-py/demo/__pycache__/
**/build/
jingle-py/test/__pycache__/
sever/migrations/__pycache__/
