bin/
target/
*.iml
*.pyc
.idea/
.settings/
log/
.classpath
.project
.pydevproject
*.out
*.lnk
sever/__pycache__/
**/dist/
*.spec
jingle/demo/__pycache__/
**/build/
jingle/test/__pycache__/
sever/migrations/__pycache__/
jingle/resource/water_mouth/
