<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pure: A css framework</title>

    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.1/build/pure-min.css">
    <!--<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">-->
    <!--<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/menus-min.css">-->
    <!--<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/buttons-min.css">-->
    <!--<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/menus-nr-min.css">-->



</head>
<body>

<table class="pure-table pure-table-bordered">
    <tbody>
    <tr>
        <td><h1>xiaorui.cc</h1></td>
        <td><h2>renren</h2></td>
        <td><h3>taobao</h3></td>
    </tr>
    <tr>
        <td><h4>Heading 4</h4></td>
        <td><h5>Heading 5</h5></td>
        <td><h6>Heading 6</h6></td>
    </tr>
    </tbody>
</table>

<table class="pure-table pure-table-horizontal">
    <thead>
    <tr>
        <th>#</th>
        <th>Make</th>
        <th>Model</th>
        <th>Year</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>xiaoru.cc</td>
        <td>Accord</td>
        <td>2009</td>
    </tr>
    <tr>
        <td>2</td>
        <td>ruifengyun.cc</td>
        <td>Camry</td>
        <td>2012</td>
    </tr>
    <tr>
        <td>3</td>
        <td>rfyiamcool 51cto</td>
        <td>Elantra</td>
        <td>2010</td>
    </tr>
    </tbody>
</table>

<div>
    <button class="pure-button pure-button-success">成功按钮</button>
    <button class="pure-button pure-button-error">错误按钮</button>
    <button class="pure-button pure-button-warning">警告按钮</button>
    <button class="pure-button pure-button-secondary">次要按钮</button>
</div>

<form class="pure-form">
    <fieldset>
        <legend>行内表单</legend>
        <input type="email" placeholder="邮箱">
        <input type="password" placeholder="密码">
        <label for="remember">
            <input id="remember" type="checkbox"> 记录我
        </label>
        <button type="submit" class="pure-button pure-button-primary">登录</button>
    </fieldset>
</form>

<div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
        <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Selected</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Normal</a></li>
        <li class="pure-menu-item pure-menu-disabled">Disabled</li>
    </ul>
</div>
</body>
</html>